In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\bryan\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

x = np.array([1, 3, 4, 5, 6])
print(x)

[1 3 4 5 6]

In [11]:
import csv

mis_datos = [['Nombres', 'Apellido', 'Edad', 'Nota 1', 'Nota 2', 'Nota 3'],
            ['Diego', 'González', 39, 10, 10, 10],
            ['Andrés', 'González', 39, 10, 9, 9]]

miarchivo = open('libreta.csv', 'w')

with miarchivo:
    writer = csv.writer(miarchivo)
    writer.writerows(mis_datos)
    df = mis_datos.dropna(how='all', axis=0)
    df = mis_datos.dropna(how='all', axis=1)
    
print('Escritura completa')

AttributeError: 'list' object has no attribute 'dropna'

In [9]:
import csv

mis_datos=[['Nombres','Apellido','Edad','Nota 1', 'Nota 2', 'Nota 3'],
           ['Diego','González',39,10,10,10],
           ['Andrés','González',39,10,9,9]]

miarchivo=open('libreta4.csv','w')

with miarchivo:
    writer=csv.writer(miarchivo)
    writer.writerows(mis_datos)
    df = mis_datos.dropna(how='all', axis=0)  # remove rows with NaN in all cells
    df = mis_datos.dropna(how='all', axis=1)  # remove cols with NaN in all cells
    
print('Escritura completa')

AttributeError: 'list' object has no attribute 'dropna'